@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

*{
    padding: 1px;
    margin: 0px;
    box-sizing: border-box;
}
:root{
    --primary-color: white;
    --text-color: #000000;
}

html {
    font-size: 12px;
}

body {
    font-family: Inter, sans-serif;
    background-color: #051721 ;
    color: white;
}

img{
    width: 100%;
    border-radius: 50%;
}

a {
    text-decoration: none;
    color: white;
}
.description{
    display: flex;
    margin-top: 1rem;
    font-size: 1.2rem;
    font-weight: 400;
    color: White;
    margin-bottom:5px;
}
.title{
    font-size:1.5rem;
    color: #89cff0;
}
.nav_bar{
    max-width: 1000px;
    width: 90%;
    margin: 0 auto;
    padding-top: 2rem;
    padding-right: 2rem;
    display: grid;
    background: #182138;
    gap: 2rem;
}

.container{
    max-width: 1000px;
    width: 90%;
    margin:0 auto;
    padding: 5rem;
    padding-top: 1rem;
    display: grid;
    background: #182138;
    grid-template-columns: 1fr 1fr;
    gap: 2rem;
}

@media only screen and (max-width: 760px){
    .profile_container{
        flex-direction: column;
    }
    .nav_bar{
        width: 100%;
        grid-template-columns: 1fr;
        padding-top: 2rem;
        padding-right: 2rem;
        gap: 3rem;
    }
    .container{
        width: 100%;
        grid-template-columns: 1fr;
        padding: 3rem;
        gap: 3rem;
    }
    .profile_profileImg{
        margin-left: auto;
        margin-right: auto;
    }
    .profile_name_firstname{
        text-align: center;
    }
    .profile_name_lastname{
        text-align:center;
    }
    .profile_title{
        text-align:center;
    }
    .description{
        text-align: center;
    }
}

.profile{
    grid-column: 1 / -1;
    margin-bottom: 0rem;
}

.group-1{
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.group-2{
    display: flex;
    flex-direction: column;
    gap: 0rem;
}

.profile_container{
    display: flex;
    gap: 2rem;
}

.profile_profileImg{
    max-width: 250px;
}

.profile_name_firstname{
    color: white;
    text-transform: uppercase;
    font-weight: 200;
    font-size: clamp(2rem, 8vw, 4rem);
    display: block;
    margin-bottom: -0.8rem
}
.profile_name_lastname{
    color: #89cff0;
    font-size: clamp(2.5rem, 15vw, 6rem);
    font-weight: 700;
    text-transform: uppercase;
    display: block;
}

.profile_title{
    font-size:1.3rem;
    font-weight: 400;
    text-transform: uppercase;
}

.downloadBtn{
    background-color:#051721;
    text-align: center;
    border-color: #89cff0;
    border-style:solid;
    border-radius: 20px;
    width: 40mm;
    color: white;
    padding: 10px;
    display:block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 15px;
}

.contactBtn{
    background-color:#051721;
    text-align: center;
    border-color: #89cff0;
    border-style:solid;
    color: white;
    width: 30mm;
    height: 7mm;
    border-radius: 15mm;
    margin: 1 rem
}

@keyframes bounce {
	0%, 20%, 60%, 100% {
		-webkit-transform: translateY(0);
		transform: translateY(0);
	}

	40% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}

	80% {
		-webkit-transform: translateY(-5px);
		transform: translateY(-5px);
	}
}
.downloadBtn:hover{
    animation: bounce 1s;
    border-color: white;
}

.skill_list{
    margin-top: .5rem;
    margin-left: 1rem;
    line-height: 1.5;
    font-size: 1.1rem;
}

.nestedList{
    margin-left: 20px;
}

.education_description{
    margin-top: 0rem;
    color:rgb(255, 255, 255);
    font-size: 1.2rem;
}

.cert_title{
    margin-bottom:.5rem;
    margin-top:.5rem;
    font-size:1.5rem;
    color: #89cff0;
}

.leader_title{
    margin-top: .5rem;
    margin-bottom: .5rem;
    font-size:1.5rem;
    color: #89cff0;
}

.indentList{
    margin-left: 10px;
}

.item_date{
    color: lightslategray;
}

.nestedList_date{
    margin-left: 20px;
    color: lightslategray;
}

.item_subtitle{
    margin-bottom: .5rem;
}

.contact_list li{
    display:inline;
    text-align: right;
    float:right;
    margin: .5rem;
}

.contact_item:hover{
    animation: bounce 1s;
}